{% extends "base.html" %}

{% block title %}
User Details
{% endblock %}


{% block content %}
<h1>User Details</h1>
<p>Username: {{ user.username }}</p>
<p>Email: {{ user.email }}</p>
<p>First name: {{ user.first_name }}</p>
<p>Last name: {{ user.last_name }}</p>

<ul>
    {% for note in user.notes %}
    <li>
        <b>{{ note.title }}</b><br>
        {{ note.content }}<br>
        <a href="/notes/{{ note.id }}/update" class="btn btn-primary">Edit</a>
        <form action="/notes/{{ note.id }}/delete" method="post">
            {{ form.hidden_tag() }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </li>
    {% endfor %}
</ul>
<a href="/users/{{user.username}}/notes/add" class="btn btn-success">Add Note</a>

<form action="/logout" method="post">
    {{ form.hidden_tag() }}
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
<form action="/users/{{user.username}}/delete" method="post">
    {{ form.hidden_tag() }}
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endblock %}